@import "tailwindcss";

@theme {
  --color-tiktok-black: #010101;
  --color-tiktok-dark: #121212;
  --color-tiktok-cyan: #25F4EE;
  --color-tiktok-red: #FE2C55;
  --color-tiktok-gray: #333333;
  --color-tiktok-lightgray: #8A8B91;
  
  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

body {
  background-color: var(--color-tiktok-black);
  color: white;
  min-height: 100vh;
}
